{
  "plugins": ["smells", "react"],
  "extends": "airbnb",
  "globals": {
    "$": true,
    "window": true,
    "document": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "comma-dangle": ["error", { "functions": "ignore" }],
    "default-case": 0,
    "no-multi-spaces": 0,
    "arrow-parens": 0,
    "space-before-function-paren": 0
  }
}
